.card {
    background: rgba(133, 188, 194, 0.342);
    border-radius: 2px;
    box-shadow: 0 3px 6px rgb(58, 6, 141), 0 3px 6px rgb(110, 44, 44);
    text-align: left;
    justify-content: center;
}


.card>.img-container {
    overflow: hidden;
    text-align: center;
    background: rgb(0, 0, 0);
    justify-content: center;  
    margin: 20px;   
}

.card>.img-container>img {
    width: 150px;   
    cursor: pointer;
}

.card>.img-container>img:hover{
    transform: scale(1.6);
}
