  
.wrapper {
    background: rgba(194, 202, 206, 0.644);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}

