.title {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    font-family: sans-serif;
  }
  
  .scoreSummary {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(122, 9, 9);
  }
  
  