  
.wrapper {
    background: rgba(227, 232, 235, 0.774);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}

